.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sucess{
    color: green;
}
.wrong-details{
    color: red;
}
.Login{
    display: flex;
    justify-content: center;
}
.registration-form{
    color: black;
    font-size: x-large;
    font-weight:inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    background-color: beige;
    padding: 30px;
    border-radius: 10px;
    transition:box-shadow  2s ease-in-out;

}
.registration-form:hover{
    cursor: pointer;
    box-shadow: 0px 0px  20px 20px rgba(189, 173, 230, 0.8);
    
}
.signup{
    border:none;
    border-radius: 8px;
    font-size: larger;
    color: blue;
    background-color: coral;
}
.signup:hover{
    border: none;
    color:goldenrod;
    font-size: x-large;

    border-radius: 20px;
    box-shadow: 3px 2px 1px 4px rgba(0, 60, 255, 0.5), 4px 3px 2px 1px rgba(255, 0, 0, 0.5);

}
.form,.signUp{
            
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    
}
body,html{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}
.signup{
    border:none;
    border-radius: 8px;
    font-size: larger;
    color: blue;
    background-color: coral;
}
.signup:hover{
    border: none;
    color:goldenrod;
    font-size: x-large;

    border-radius: 20px;
    box-shadow: 3px 2px 1px 4px rgba(0, 60, 255, 0.5), 4px 3px 2px 1px rgba(255, 0, 0, 0.5);


}

.registration-form{
    color: black;
    font-size: x-large;
    font-weight:inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    background-color: beige;
    padding: 30px;
    border-radius: 10px;
    transition:box-shadow  2s ease-in-out;

}
.registration-form:hover{
    cursor: pointer;
    box-shadow: 0px 0px  20px 20px rgba(189, 173, 230, 0.8);
    
}
#verify{
    color: red;
}